<nav class="pagination">
        <a class="<% if (!page.prev){ %> inactive <% } %>"
           href="<%- config.root %><%- page.prev_link %>">← Prev</a>
        <a class="<% if (!page.next){ %> inactive <% } %>"
           href="<%- config.root %><%- page.next_link %>">Next →</a>
</nav>
