:root {
    /*--highlight-color: #A94442;*/
    --link-color: #7422a9;
    --highlight-color: #7422a9;
    --normal-font: "Helvetica Neue",Roboto,Tahoma,"PingFang SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    --mono-font: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-family: var(--normal-font);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a, a:hover {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;

    position: relative;
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    border-radius: 0;
    border-top: 0.1rem solid var(--highlight-color);
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.85);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 1080px;
}

.navbar-left {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-left small {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.7;
}

.navbar-right {
    font-size: 1.1rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .navbar-container {
        width: 90vw;
        flex-wrap: wrap;
    }
    .navbar-left {
        width: 100%;
        text-align: center;
    }
    .navbar-right {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        justify-content: space-around;
    }
}

.nav-item {
    padding-right: 1vw;
}

/* container */
.container {
    margin: auto;
    width: 72vw;
    max-width: 768px;
    padding-top: 2rem;
}

/* footer */
.footer {
    font-size: 0.9rem;
    color: #727272;
    text-align: center;
    margin-top: 2.5rem;
}

/* index page */
.index {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-list {
    width: 80%;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .post-list {
        width: 100%;
    }
}

.post-list-item {
    display: block;
    color: #3e3e3e;
    padding: 0.8rem 1.2rem;
    border-radius: 0.2rem;
    outline: none;
}

.post-list-item:hover {
    background-color: #f5f5f5;
    color: var(--link-color);
}

.small-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #727272;
    margin: 0;
}

/* pagination */
.pagination {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2.5rem auto 0 auto;
}
@media (max-width: 512px) {
    .pagination {
        width: 80%;
    }
}

.pagination-button {
    display: block;
}

.inactive {
    user-select: none;
    pointer-events: none;
    opacity: 0;
}

