<footer class="footer">
    <% if (config.social) { %>
        <p>
            <% Object.entries(config.social).forEach(function ([key, value]) { %>
                <a class="iconfont icon-<%= key %>" href="<%= value %>"></a>
            <% }) %>
        </p>
    <% } %>
        <p>Copyright © <%= config.author %> <%= new Date().getFullYear() %>.
        Theme <a href="https://github.com/charact3/hexo-theme-char">Char</a> - <a href="https://hexo.io">Hexo</a>.
        </p>
    <% if (theme.busuanzi) { %>
        <p>
            <span id="busuanzi_container_site_pv" class="inactive">Site PV <span id="busuanzi_value_site_pv">-</span>,</span>
            <span id="busuanzi_container_site_uv" class="inactive">Site UV <span id="busuanzi_value_site_uv">-</span>,</span>
            <span id="busuanzi_container_page_pv" class="inactive">Page PV <span id="busuanzi_value_page_pv">-</span>.</span>
        </p>
    <% } %>
</footer>
